Repository ls1intum/artemis-ansible-collection, pull requests merged in 2024-02, with the labels that each got.

#61 Fix user permissions in Artemis and legal role
  roles/artemis/tasks/artemis_configuration.yml
  roles/artemis/tasks/users.yml
  roles/legal/tasks/main.yml
Labels: bug

#68 `Development`: Update error page
  roles/proxy/files/nginx_503.html
  roles/proxy/tasks/nginx.yml
  roles/proxy/templates/nginx_artemis.conf.j2
  roles/proxy/templates/nginx_reverse_proxy.conf.j2
Labels: bug, documentation, role.proxy

#67 `Development`: Add buildagent and core profile for LocalCI configuration
  roles/artemis/README.md
  roles/artemis/defaults/main.yml
  roles/artemis/tasks/variable_checks.yml
  roles/artemis/templates/application-prod.yml.j2
  roles/artemis/templates/artemis.env.j2
Labels: documentation, enhancement, role.artemis

#69 `Bugix`: Fix fail condition when docker is not installed
  roles/artemis/tasks/node_checks.yml
Labels: bug, role.artemis
