Repository ls1intum/artemis-ansible-collection, pull requests merged in 2024-04, with the labels that each got.

#75 `Artemis`: Switch to JDK 21
  roles/artemis/defaults/main.yml
  roles/artemis/templates/application-prod.yml.j2
  roles/artemis/templates/artemis.service.j2
Labels: role.artemis

#79 Add GitLab Runner Setup
  roles/gitlab_runner/defaults/main.yml
  roles/gitlab_runner/files/docker-compose.yml
  roles/gitlab_runner/handlers/main.yml
  roles/gitlab_runner/tasks/main.yml
  roles/gitlab_runner/templates/config.toml.j2
Labels: enhancement, role.gitlab_runner

#78 Adds cadvisor rule to firewall
  .gitignore
  roles/firewall/handlers/main.yml
  roles/firewall/tasks/main.yml
  roles/firewall/templates/rules_nodes.v4.j2
  roles/firewall/templates/rules_nodes.v6.j2
Labels: role.firewall
