Repository ls1intum/artemis-ansible-collection, pull requests merged in 2025-04, with the labels that each got.

#122 `Development`: Update version of Broker + Registry and Improve variable handling
  roles/artemis/tasks/users.yml
  roles/broker/defaults/main.yml
  roles/firewall/defaults/main.yml
  roles/firewall/tasks/main.yml
  roles/proxy/defaults/main.yml
  roles/registry/defaults/main.yml
Labels: role.artemis, role.proxy, role.broker, role.registry

#123 `Development`: Run Artemis checks only when setup system or update config
  roles/artemis/tasks/main.yml
Labels: role.artemis

#128 Development: Initialise servers and redirects with empty array
  roles/proxy/defaults/main.yml
Labels: role.proxy

#130 `Development`: Add variables for the passkey feature
  roles/artemis/defaults/main.yml
  roles/artemis/templates/application-prod.yml.j2
  roles/artemis/templates/artemis.env.j2
Labels: role.artemis

#133 `Development`: Update Artemis configuration for 8.0
  roles/artemis/defaults/main.yml
  roles/artemis/tasks/variable_checks.yml
  roles/artemis/templates/application-prod.yml.j2
  roles/artemis/templates/artemis.env.j2
Labels: role.artemis

#134 Remove old only_update_artemis_config var
  roles/artemis/tasks/docker_deploy_artemis.yml
Labels: bug, role.artemis

#135 `Development`: Move add_header to server so that HSTS is enabled again
  roles/proxy/templates/nginx_proxy.conf.j2
Labels: bug, role.proxy
